// FONT
$main-font: 'Poppins', sans-serif;

// COLOR
$black: #000;
$white: #fff;

$red: #c30202;
$blue: #2e4582;
$green: #008c00;
$grey: #8b92a9;
$grey2: #9095a2;
$form-grey: #929292;
$blue-dark: #1e1e2f;
$blue-light: #27293d; 

$shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);